* {
  margin: 0;
  padding: 0;
}

body {
  background: #282828;
}
.drumkit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
.pad {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex: 1 0 calc(33.333% - 20px);
  background: radial-gradient(#7a7474, #4660d1);
  border-radius: 10px;
  box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.25),
    -4px -4px 6px 0 rgba(255, 255, 255, 0.3);
}

.pad:active {
  box-shadow: none;
}
